:root {
    --blue: #033C73;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #C71C22;
    --orange: #fd7e14;
    --yellow: #DD5600;
    --green: #73A839;
    --teal: #20c997;
    --cyan: #2FA4E7;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #2FA4E7;
    --secondary: #e9ecef;
    --success: #73A839;
    --info: #033C73;
    --warning: #DD5600;
    --danger: #C71C22;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}


.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}
  
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

.input-group-prepend,
.input-group-append {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
  
.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
    margin-top: 0;
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .form-control-plaintext + .form-control,
.input-group > .form-control-plaintext + .custom-select,
.input-group > .form-control-plaintext + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
  z-index: 3;
}

.input-group > .custom-file .custom-file-input:focus {
  z-index: 4;
}

.input-group > .custom-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
  }
  
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #a1d6f4;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
}

.custom-file-input[disabled] ~ .custom-file-label,
.custom-file-input:disabled ~ .custom-file-label {
    background-color: #e9ecef;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
}

.custom-file-input ~ .custom-file-label[data-browse]::after {
    content: attr(data-browse);
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}


.custom-control-label::before,
.custom-file-label,
.custom-select {
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .custom-control-label::before,
    .custom-file-label,
    .custom-select {
        -webkit-transition: none;
        transition: none;
    }
}

.container1 {
    width: 80%;
    margin: 2% auto 0;
    background-color: #F5F5F5;
    padding: 2% 2%;
    display: flex;
    /* 内容垂直居中 */
    /* align-items: center;  */
    /* 内容水平居中 */
    /* justify-content:center;  */
    
    border-radius: 15px
}

.container2 {
    /* display: grid; */
    margin: 10px 10px 0 0;
    margin: 1% auto 0;
    display: inline-block;
    /* margin: 0 atuo; */
    /* 内容水平居中 */
    /* justify-content:center;  */
    /* width: 3%;
    height: 3%; */
    width: 2%;
    background-color: rgb(255, 255, 255);
    padding: 15% 15%;
    border-radius: 5px
}

.container3 {
    /* position: relative; */
    /* float: left; */
    background-color: rgb(111, 40, 40);
    padding: 15% 15%;
    /* margin:0 atuo; */
    /* display:flex;
    justify-content:center;  */
}


.connection1 {
    width: 100%;
    position: relative;
    margin: 0 10px 0 0
}

.connection2 {
    width: 100%;
    margin: 10px 10px 0 0
}

.checkbox1 {
    text-align: center;
    position: relative;
    margin: 0 10px 0 10px
}

.form-group {
    margin: 0 10px 10px 0;
    margin-bottom: 1rem
}

.form-group1 {
    float: left;
    width: 30%;
    margin: 0 30px 0px 0;
    margin-bottom: 1rem
}

.form-group2 {
    float: left;
    width: 20%;
    margin: 0 30px 0px 0;
    margin-bottom: 1rem
}

.form-group3 {
    float: left;
    width: 50%;
    margin: 0 30px 0px 0;
    margin-bottom: 1rem
}

.form-group4 {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 0;
    margin-bottom: 1rem
}

.form-control {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem
}

.form-control1 {
    width: 100%;
    height: auto;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem
}

@-webkit-keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
}
  
@keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
}

.btn {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    color: #495057;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
}

.btn-primary {
    color: #fff;
    background-color: #2FA4E7;
    border-color: #2FA4E7
}

.btn-primary:hover {
    color: #fff;
    background-color: #1992d7;
    border-color: #178acc
}

.btn-primary:focus,.btn-primary.focus {
    color: #fff;
    background-color: #1992d7;
    border-color: #178acc;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(78,178,235,0.5);
    box-shadow: 0 0 0 0.2rem rgba(78,178,235,0.5)
}

.btn-primary.disabled,.btn-primary:disabled {
    color: #fff;
    background-color: #2FA4E7;
    border-color: #2FA4E7
}

.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #178acc;
    border-color: #1682c0
}

.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(78,178,235,0.5);
    box-shadow: 0 0 0 0.2rem rgba(78,178,235,0.5)
}


.btn-outline-primary {
    color: #2FA4E7;
    margin-top: 10px;
    border-color: #2FA4E7;
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #2FA4E7;
    border-color: #2FA4E7;
  }
  
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
  }
  
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #2FA4E7;
    background-color: transparent;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #2FA4E7;
    border-color: #2FA4E7;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
  }

.progress {
    width: 85%;
    margin: 1% auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    height: 1.2rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2FA4E7;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
            animation: progress-bar-stripes 1s linear infinite;
}
  
@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
      -webkit-animation: none;
              animation: none;
    }
}

.heading-center {
    text-align: "center";
    margin: 0 auto;
    color: #2FA4E7;
}

.wrapper-all{
    width: 85%;
    margin: 1% auto 0;
    background-color: #F5F5F5;
}

.wrapper{
    display: flex;
}

.wrapper1{
    width: 85%;
    margin: 1% auto 0;
    display: flex;
    /* 内容垂直居中 */
    align-items: center; 
    /* 内容水平居中 */
    justify-content:center; 
    /* background-color: rgb(162, 0, 0); */
}

.left{
    width: 30%;
    margin: 30px 30px
}

.middle{
    width: 30%;
    margin: 30px 30px
}

.right{
    width: 30%;
    margin: 30px 30px
}

.all{
    width: 100%;
    margin: 10px 30px
}


.button-more {
    text-align:center;
    /* margin: 10px 0 0 0; */
}

.statistics {
    width: 85%;
    margin: 1% auto 0;
    margin-top: 10px;
    text-align:center;
}

.form-check-input {
    vertical-align: middle;
}

  

  



